<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet"> 

/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}

body {
    color: #000;
    background-color: #fff;
    font-size: 1em;
    font-family: Montserrat,sans-serif;
    font-size: 0.875em;
    line-height: 1.4;
    margin: 0;
  }

  /* Navigatie */
  nav ul li {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    display: block;
  }

  .menu {
      height: 5.5em;
      justify-content: center;
      background-color: #fff;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
      padding-top: 0.5em;
      padding-right: 1em;
      padding-left: 1em;
      max-width: 100%;
      display: flex;
      position: relative;
      align-items: center;
      margin: 0;
  }

  .hamburger {
    width: 2.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 0.5em;
  }

  .home-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.6);
  }

  .search {
    width: 2.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 0.5em;
  }