<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet"> 

/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}

body {
    color: #000;
    background-color: #fff;
    font-size: 1em;
    font-family: Montserrat,sans-serif;
    font-size: 0.875em;
    line-height: 1.4;
    margin: 0;
  }

/* Navigatie */
nav ul li {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  display: block;
}

.menu {
  height: 5.5em;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  padding-top: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
  max-width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  margin: 0;
}

.hamburger {
  width: 2.5em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 0.5em;
}

.home-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.6);
}

.search {
  width: 2.5em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 0.5em;
}

/* Main */
section:nth-child(1) div >img {
  display: block;
  width: 100%;
}
  
.hero-image {
  position: relative;
  margin-bottom: 20px;
}
  
.title {
  background-color: #fff;
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.3;
  width: 70%;
  position: absolute;
  margin-bottom: -1.825em;
  bottom: 0;
  padding: 7px 15px 0;
}

.purple {
  color: #91616d; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5em;
  font-weight: 700;
  position: relative;
  margin: 4em 1.25em 0 1.25em;
}

.purple:after {
  width: 100%;
  height: 1px;
  content: "";
  background: rgba(0, 12, 24, .1);
  position: absolute;
  top: 60%;
  left: 0;
}

section:nth-child(2) ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0 1.25em 3em 1.25em;
}

section:nth-child(2) li {
  width: 20%;
  padding: 0 1em 0 1em;
}

section:nth-child(2) figure {
  display: flex;
  margin: 2em 0 1em 0;
}
section:nth-child(2) figure >img {
  width: 6.5em;
  height: 6.5em;
}

section:nth-child(2) div {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  line-height: 1.1;
  text-align: center;
  display: block;
}

section:nth-child(2) p >strong {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.25em;
  font-weight: 700;
}

section:nth-child(3) div {
  padding-bottom: 4em;
  border-bottom: 1px solid rgba(0,12,24,.1);
  margin: 0 1.25em 0 1.25em;
}

section:nth-child(3) h3 {
  font-size: 1.5em;
  margin: 0 1.25em 0 1.25em;
}

section:nth-child(3) h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.625em;
  margin: 1em 1.25em 0.625em 1.25em;
}

section:nth-child(3) ul {
  list-style: none;
  padding: 0;
  margin: 0 2em 0 2em;
  
}
section:nth-child(3) li {
  font-size: 1.3em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  margin-bottom: 0.125em;
}

section:nth-child(3) p {
  font-size: 1.3em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  margin-top: 0.5em;
  margin-bottom: 0.125em;
}

section:nth-child(4) figure >img {
  display: block;
  width: 100%;
}