<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet"> 

/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}

body {
    color: #000;
    background-color: #fff;
    font-size: 1em;
    font-family: Montserrat,sans-serif;
    font-size: 0.875em;
    line-height: 1.4;
    margin: 0;
  }

  section {
    
  }
  /* Navigatie */
  nav ul li {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    display: block;
  }

  .menu {
      height: 5.5em;
      justify-content: center;
      background-color: #fff;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
      padding-top: 0.5em;
      padding-right: 1em;
      padding-left: 1em;
      max-width: 100%;
      display: flex;
      position: relative;
      align-items: center;
      margin: 0;
  }

  .hamburger {
    width: 2.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 0.5em;
  }

  .home-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.6);
  }

  .search {
    width: 2.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 0.5em;
  }
 
/* Articles */
article {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  max-width: 365px;
  background-color: #fff;
}

img {
  display: block;
  width: 100%;
}

/*
.volledige-breedte {
  position:relative;
}

.volledige-breedte h4 {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: .5em;
  color: #000;
  background-color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.125em;
  font-weight: 700;
}
*/


















  /* Footer 
  details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

  ul {
    padding: 0;
    margin: 0;
  }

  li {
  list-style: none;
  }
*/